<head>
    <script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/prod.css') }}">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  </head>
  <body>
  <div class = "parent">
  <div class="navbar" id="myNavbar">
    <a href="http://127.0.0.1:5000/" id="im"><img src="http://127.0.0.1:5000/static/assets/logo.png" alt="Logo"></a> <!-- Add your logo here -->
    <a href="/home?uname=mkhisty" class="active l">Home</a>
    <a href="/ccom?uname=mkhisty" class="l">Events</a>
    <a href="/recipes?uname=mkhisty" class="l">Recipes</a>
    <a href="/rewards?uname=mkhisty" class="l">Rewards</a>

    <div class="Search">
    <form method="POST">  <input type="text" name="val" placeholder="Browse.." class="s2"> <input type="submit" value="Search" class="srchbutton">

    </form></div> <a class="prof" href="/login"><ion-icon name="person-outline" class="i"></ion-icon></a>


</div>    <div class = image id =image>
</div>
<div class="info">
    <h1 class="label" id="label">Bananas</h1><a class="store" id="store">Joy Farms</a><p class="price" id="price">$69</p><p id="d">Get ready to go bananas over our premium selection of fresh and ripe bananas! Packed with natural sweetness and a dash of potassium, these bananas are the perfect snack for any time of the day.

    </p><div class="reviews" id="reviews">
      <h2>Reviews</h2>
<div id="rs">    </div>  
</div>
</div>
<div class="purchase">
  <div class="csect"><p>Delivery Time: 26 Hours</p><button class="cbutton">Add to cart</button><p>Current Total: $69</p><button class="cbutton">Go to Cart</button></div>
</div>











</div>  <script src="{{ url_for('static', filename='js/prod.js') }}"></script>
<script >render_prod({{info|safe}})</script>
</body>