<head>
    <script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  </head>
  <body>
  <div class = "parent">
    <div class="navbar" id="myNavbar">
      <a href="http://127.0.0.1:5000/" id="im"><img src="http://127.0.0.1:5000/static/assets/logo.png" alt="Logo"></a> <!-- Add your logo here -->
      <a href="/home?uname=mkhisty" class="active l">Home</a>
      <a href="/ccom?uname=mkhisty" class="l">Events</a>
      <a href="/recipes?uname=mkhisty" class="l">Recipes</a>
      <a href="/rewards?uname=mkhisty" class="l">Rewards</a>
  
      <div class="Search">
      <form method="POST">  <input type="text" name="val" placeholder="Browse.." class="s2"> <input type="submit" value="Search" class="srchbutton">
  
      </form></div> <a class="prof" href="/login"><ion-icon name="person-outline" class="i"></ion-icon></a>
  
  
  </div>     <div class="filters">
    <h2>Filters</h2>
    <h3>Type of Farming</h3><br>
    <label class="container">Conventional
        <input type="checkbox" checked="checked" id ="c">
        <span class="checkmark"></span>
      </label>
      
      <label class="container" id ="g">Non-GMO
        <input type="checkbox" checked="checked" id ="g2">
        <span class="checkmark"></span>
      </label>
      
      <label class="container" id ="o">Organic
        <input type="checkbox" checked="checked" id ="o2">
        <span class="checkmark"></span>
      </label>

      </label><h3>Price</h3>  <input id = "myRange" class = slider type="range" min="1" max="100" value="50"><p id="pr"></p>
<button class="Apply" onclick="filter()">Apply</button>
  </div>  
  <div class="results" id ="results">
<h1 class="heading">Search Results:

</h1>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script>render_search({{results|safe}});</script>
<script>render_reviews({{results|safe}});</script>

</div> 

            </div>
  
  